* {
    font-family: "ubuntu";
}

.section_noBack {
    position: relative;
    z-index: 2;
    width: 100vw;
    height: 150vh;

    .contentBox {
        width: 100%;
        height: 100%;
        color: var(--textLight);
        font-size: 20px;
        padding: 14vh;
    }
}

.section_backWhite {
    position: relative;
    width: 100vw;
    height: 150vh;

    .back {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: var(--whiteBack);
    }

    .contentBox {
        position: relative;
        z-index: 2;
        width: 100%;
        height: 100%;
        color: var(--textDark);
        font-size: 20px;
        padding: 14vh;
    }
}

.filterGray {
    filter: var(--landingBack1_filter);
}

.backImage {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: var(--landingBack1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* scroll layer */
.scrool {
    width: 100%;
    height: auto;

    .maskedBox {
        position: fixed;
        z-index: 2;
        width: 100%;
        height: var(--menuHeight);
        overflow: hidden;

        .background_MASKED {
            width: 100%;
            height: 100vh;
            background-image: var(--landingBack1);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    /* wellcome section */
    .wellcome {
        width: 100%;
        height: 100vh;

        .titlesBox {
            position: relative;
            top: -14px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: auto;
            height: auto;
            color: var(--textMediumLight);

            .h {
                width: fit-content;
                height: auto;
            }

            h1 {
                font-size: 24px;
                font-weight: bolder;
                letter-spacing: 4px;
            }

            .titlesBox {
                padding: 5px 20px;
                margin: 40px 0 20px 0;

                h2 {
                    position: relative;
                    left: 6px;
                    font-size: 86px;
                    font-weight: 500;
                    letter-spacing: 18px;
                    color: white;
                }

                h3 {
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 4px;
                    margin-bottom: 10px;
                    font-style: italic;
                }
            }

            .wordKeys {
                display: flex;
                align-items: center;
                width: fit-content;
                height: 40px;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 3px;

                .separator {
                    width: 0px;
                    height: 14px;
                    border-left: 2px solid grey;
                    margin: 0 20px;
                }
            }

            .years {
                display: flex;
                align-items: center;
                width: auto;
                height: 20px;
                margin-top: 30px;

                .number {
                    font-size: 16px;
                    font-weight: 700;
                    letter-spacing: 3px;
                }

                .icon {
                    height: 12px;
                    aspect-ratio: 1.2/1;
                    margin: 0 20px;
                    background-image: url("../../assets/images/white_heart.png");
                    background-size: contain;
                    filter: brightness(0.7)
                }
            }
        }
    }

    /* info section */
    .info .contentBox {
        .infoContainer {
            display: grid;
            grid-template-columns: 500px 1fr 1fr;
            grid-template-rows: 0px 1fr 0px;
            grid-template-areas:
                ". . ."
                "img text stats"
                ". . .";
            column-gap: 80px;
            width: 100%;
            height: 60%;
            border: 1px solid grey;

            .imageBox {
                grid-area: img;
                position: relative;
                z-index: 99;
                width: 500px;
                height: 100%;
                transition: 500ms ease-in-out;
                border: 1px solid red;

                .image {
                    background-image: url("../../assets/images/landingBack.webp");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 210%;
                }

                .imageMin {
                    width: 0;
                    height: 0;
                }

                &:hover {
                    width: 1100px;
                }
            }

            .description {
                grid-area: text;
                width: 100%;
                height: 100%;
                border: 1px solid red;
            }

            .statistics {
                grid-area: stats;
                width: 100%;
                height: 100%;
                border: 1px solid red;
            }
        }
    }

    .video {}

    .comunity {}

    .subscribe {
        position: relative;
        width: 100%;
        height: 60vh;
        background-color: var(--enphasisColor);

        .button {
            position: relative;
            width: 160px;
            height: 40px;
            font-size: 14px;
            color: white;
            font-weight: 700;
            padding: 10px 20px;
            border: 2px solid white;
            border-radius: 12px;
            letter-spacing: 1px;
            cursor: pointer;
            transition: 100ms;

            &:hover {
                border: 3px solid var(--textDark);
                color: var(--textDark);
                letter-spacing: 4px;
            }
        }
    }
}

footer {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 60vh;
    background-color: var(--whiteBack);
}


.landingMenu {
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
    height: var(--menuHeight);
    overflow: hidden;
    opacity: 0;
    transition: 300ms;

    .background_ALPHA {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100vh;
        background-image: var(--landingBack1);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) calc(var(--menuHeight) / 2), rgba(0, 0, 0, 0) calc(var(--menuHeight) * 1));
    }

    .menuBox {
        position: absolute;
        width: 90%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logoBox {
            display: flex;
            align-items: center;
            width: 160px;
            height: 100%;
            margin-right: 40px;

            .logo {
                width: 100%;
            }
        }

        .menuLists {
            display: flex;
            justify-content: space-between;
            width: auto;
            height: 100%;

            .textMenu {
                display: flex;
                width: auto;
                height: 100%;
                list-style: none;
                color: var(--textLight);

                .text {
                    width: auto;
                    height: 100%;
                    font-size: 16px;
                    padding: 0 16px;
                    cursor: pointer;
                    transition: 200ms;

                    &:hover {
                        color: var(--enphasisColor);
                    }
                }
            }

            .iconsMenu {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 140px;
                margin-left: 40px;

                .iconBox {
                    position: relative;
                    top: 1px;
                    width: 24px;
                    height: 24px;
                    border-radius: 4px;
                    opacity: 0.9;
                    cursor: pointer;
                    transition: 200ms;

                    .icon {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        transition: 200ms;
                    }

                    &:hover {
                        background-color: var(--enphasisColor);
                        opacity: 1;
                        transform: scale(1.7);
                    }

                    &:first-of-type .icon,
                    &:last-of-type .icon {
                        transform: scale(1.3);
                        opacity: 1;
                    }
                }
            }
        }
    }
}