* {
    font-family: "ubuntu";
}

.section_noBack {
    width: 100vw;
    height: 150vh;

    .contentBox {
        position: relative;
        z-index: 3;
        width: 100%;
        height: 100%;
        color: var(--textLight);
        font-size: 20px;
        padding: 14vh;
    }
}

.section_backWhite {
    position: relative;
    width: 100vw;
    height: 150vh;

    .back {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: var(--whiteBack);
    }

    .contentBox {
        position: relative;
        z-index: 3;
        width: 100%;
        height: 100%;
        color: var(--textDark);
        font-size: 20px;
        padding: 14vh;
    }
}

.filterGray {
    filter: var(--landingBack1_filter);
}

.backImage {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: var(--landingBack1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* scroll layer */
.scrool {
    width: 100%;
    height: auto;

    .maskedBox {
        position: fixed;
        z-index: 2;
        width: 100%;
        height: var(--menuHeight);
        overflow: hidden;

        .background_MASKED {
            width: 100%;
            height: 100vh;
            background-image: var(--landingBack1);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    /* wellcome section */
    .wellcome {
        width: 100%;
        height: 100vh;

        .titlesBox {
            position: relative;
            top: -14px;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: auto;
            height: auto;
            color: var(--textMediumLight);

            .h {
                width: fit-content;
                height: auto;
            }

            h1 {
                font-size: 24px;
                font-weight: bolder;
                letter-spacing: 4px;
            }

            .titlesBox {
                padding: 5px 20px;
                margin: 40px 0 20px 0;

                h2 {
                    position: relative;
                    left: 6px;
                    font-size: 86px;
                    font-weight: 500;
                    letter-spacing: 6px;
                    color: white;
                }

                h3 {
                    font-size: 14px;
                    font-weight: 500;
                    letter-spacing: 2px;
                    text-indent: 10px;
                    margin-bottom: 10px;
                }
            }

            .wordKeys {
                display: flex;
                align-items: center;
                width: fit-content;
                height: 40px;
                font-size: 14px;
                font-weight: 500;
                letter-spacing: 2px;

                .separator {
                    width: 0px;
                    height: 14px;
                    border-left: 2px solid grey;
                    margin: 0 12px;
                }
            }

            .years {
                display: flex;
                align-items: center;
                width: auto;
                height: 20px;
                margin-top: 30px;

                .number {
                    font-size: 16px;
                    font-weight: 700;
                    letter-spacing: 3px;
                }

                .icon {
                    height: 12px;
                    aspect-ratio: 1.2/1;
                    margin: 0 20px;
                    background-image: url("../../assets/images/white_heart.png");
                    background-size: contain;
                    filter: brightness(0.7)
                }
            }
        }
    }

    /* info section */
    .info .contentBox {
        --imageBox_width: 340px;
        /* max with aspect-ratio!!!*/
        --imageBox_widthExpand: 800px;
        --description_width: 480px;
        --statsContainer_minWidth: 100px;

        .infoContainer {
            display: flex;
            width: 100%;
            height: 540px;
            container-type: inline-size;
            /* contenedor declarado para ocultar  */

            border: 1px solid green;

            .imageBox,
            .description,
            .statsBox {
                height: 100%;
                transition: 400ms ease-in-out;
            }

            .imageBox {
                position: relative;
                width: var(--imageBox_width);
                height: 100%;
                border-radius: 14px;
                box-shadow: -10px 10px 5px rgb(175, 175, 175);
                overflow: hidden;

                .image {
                    position: absolute;
                    background-image: url("../../assets/images/landingBack.webp");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: auto 150%;
                    border-radius: 14px;
                    transition: 350ms ease-in-out;
                }

                .image100 {
                    background-size: auto 100%;
                }

                .image300 {
                    background-size: auto 300%;
                }

                .textLayer {
                    position: relative;

                    .toogle {
                        position: absolute;
                        right: 10px;
                        top: 6px;
                        width: 40px;
                        height: 40px;
                        font-size: 20px;
                        color: white;

                        &::after {
                            content: "+";
                        }
                    }

                    &:hover .toogle {
                        color: var(--enphasisColor);
                    }
                }
            }

            .expand {
                width: 20px;
                transition: 400ms ease-in-out;
            }

            .description {
                width: var(--description_width);
                height: 100%;
                font-size: 16px;
                padding: 20px;

                h4,
                p,
                .itemsList li {
                    margin-bottom: 20px;
                }
            }

            .statsContainer {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                flex: 1;
                height: 100%;
                overflow: hidden;
                border: 1px solid red;

                .statBox {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: auto;
                    font-size: 16px;

                    .circle {
                        flex-shrink: 0;
                        width: 100px;
                        aspect-ratio: 1/1;
                        border: 1px solid var(--textMediumLight);
                        border-radius: 50%;
                        padding: 10px;
                        color: var(--textDark);

                        .statVisual {
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            width: auto;
                            height: auto;

                            .name {
                                width: 100%;
                                height: 24px;
                                margin-bottom: 10px;
                            }

                            .stat {
                                font-size: 24px;
                                font-weight: 500;
                            }
                        }
                    }

                    .statInfo {
                        flex-shrink: 0;
                        margin-left: 20px;
                        line-height: 26px;

                        .statTitle {
                            font-weight: 500;
                        }

                        .statText {}
                    }
                }
            }

            @media (orientation: landscape) {
                @container (max-width: calc(340px + 810px + 40px + 100px)) {}

                &:has(.hiddenInput:checked) {
                    .imageBox {
                        width: var(--imageBox_widthExpand);

                        .image {
                            background-size: auto 100%;
                        }

                        .textLayer .toogle::after {
                            content: "-";
                        }
                    }

                    .expand {
                        width: calc(100% - (var(--imageBox_widthExpand) + 40px + var(--description_width) + var(--statsContainer_minWidth)) - var(--statsContainer_minWidth));
                    }

                    .statsContainer {
                        width: 100px;
                        border: 2px solid grey;
                    }
                }
            }
        }

        .video {}

        .comunity {}

        .subscribe {
            position: relative;
            width: 100%;
            height: 60vh;
            background-color: var(--enphasisColor);

            .button {
                position: relative;
                width: 160px;
                height: 40px;
                font-size: 14px;
                color: white;
                font-weight: 700;
                padding: 10px 20px;
                border: 2px solid white;
                border-radius: 12px;
                letter-spacing: 1px;
                cursor: pointer;
                transition: 100ms;

                &:hover {
                    border: 3px solid var(--textDark);
                    color: var(--textDark);
                    letter-spacing: 4px;
                }
            }
        }
    }

    footer {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 60vh;
        background-color: var(--enphasisColor);
    }


}

.backColor {
    position: fixed;
    top: 0;
    z-index: 2;
    background: var(--whiteBack);
    width: 100%;
    height: var(--menuEffect_height);
}

.alphaDegraded {
    position: fixed;
    top: 0;
    z-index: 4;
    width: 100%;
    height: var(--menuEffect_height);
    background: linear-gradient(to bottom,
            var(--whiteBack) var(--menuHeight),
            rgb(from var(--whiteBack) r g b / 0) var(--menuEffect_height));
}

.menuVisible {
    opacity: 1;
}

.menuInvisible {
    opacity: 0;
}

.menu {
    position: fixed;
    z-index: 5;
    top: 30px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1300ms;


    nav {
        display: flex;
        justify-content: space-between;
        width: 90%;
        height: 100%;

        .logoBox {
            display: flex;
            align-items: center;
            width: 160px;
            height: 100%;
            margin-right: 40px;

            .logo {
                width: 100%;
                filter: brightness(0.2);
            }
        }

        .menuLists {
            display: flex;
            justify-content: space-between;
            width: auto;
            height: 100%;

            .textMenu {
                display: flex;
                width: auto;
                height: 100%;
                list-style: none;
                color: var(--textDark);

                .text {
                    width: auto;
                    height: 100%;
                    font-size: 16px;
                    font-weight: 500;
                    padding: 0 16px;
                    cursor: pointer;
                    transition: 200ms;

                    &:hover {
                        color: var(--enphasisColor);
                    }
                }
            }

            .iconsMenu {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 140px;
                margin-left: 40px;

                .iconBox {
                    position: relative;
                    top: 1px;
                    width: 24px;
                    height: 24px;
                    border-radius: 4px;
                    opacity: 0.9;
                    cursor: pointer;
                    transition: 200ms;

                    .icon {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        filter: brightness(0.2);
                        transition: 150ms;
                    }

                    &:hover {
                        background-color: var(--enphasisColor);
                        opacity: 1;
                        transform: scale(1.7);

                        .icon {
                            filter: brightness(1);
                        }
                    }

                    &:first-of-type .icon,
                    &:last-of-type .icon {
                        transform: scale(1.3);
                        opacity: 1;
                    }
                }
            }
        }
    }
}


/*     .landingMenu {
        position: absolute;
        top: 0;
        z-index: 99;
        display: flex;
        justify-content: center;
        top: 0;
        width: 100%;
        height: var(--menuHeight);
        overflow: hidden;
        opacity: 0;
        transition: 300ms;

        .background_ALPHA {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100vh;
            background-image: var(--landingBack1);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .menuBox {
            position: absolute;
            width: 90%;
            height: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logoBox {
                display: flex;
                align-items: center;
                width: 160px;
                height: 100%;
                margin-right: 40px;

                .logo {
                    width: 100%;
                }
            }

            .menuLists {
                display: flex;
                justify-content: space-between;
                width: auto;
                height: 100%;

                .textMenu {
                    display: flex;
                    width: auto;
                    height: 100%;
                    list-style: none;
                    color: var(--textLight);

                    .text {
                        width: auto;
                        height: 100%;
                        font-size: 16px;
                        padding: 0 16px;
                        cursor: pointer;
                        transition: 200ms;

                        &:hover {
                            color: var(--enphasisColor);
                        }
                    }
                }

                .iconsMenu {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 140px;
                    margin-left: 40px;

                    .iconBox {
                        position: relative;
                        top: 1px;
                        width: 24px;
                        height: 24px;
                        border-radius: 4px;
                        opacity: 0.9;
                        cursor: pointer;
                        transition: 200ms;

                        .icon {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            transition: 200ms;
                        }

                        &:hover {
                            background-color: var(--enphasisColor);
                            opacity: 1;
                            transform: scale(1.7);
                        }

                        &:first-of-type .icon,
                        &:last-of-type .icon {
                            transform: scale(1.3);
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
} */