.info .cajaContenido {
    --sectionMargin: 4%;
    /* only % */
    --sectionWidth: calc((100% - 2 * var(--sectionMargin)) / 3);

    .subContenedorInfo {
        flex-shrink: 0;
        width: var(--sectionWidth);
        height: 100%;
        border-radius: 14px;

        &:not(:first-of-type) {
            margin-left: 4%;
        }
    }

    .contenedorInfo {
        position: relative;
        display: flex;
        width: 100%;
        aspect-ratio: 16/7;
        overflow: hidden;
        transition: 350ms ease-in-out;

        .cajaImagenAbierta {
            width: calc(2 * var(--sectionWidth) + var(--sectionMargin));
        }

        .cajaImagen {
            position: relative;
            border-radius: 14px;
            overflow: hidden;
            transition: 350ms ease-in-out;

            .imagen {
                background-image: url("../../../recursos/imagenes/landingBack.webp");
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                cursor: pointer;

                .iconoAbrir {
                    position: absolute;
                    right: 10px;
                    top: 6px;
                    width: 30px;
                    height: 30px;
                    font-size: 24px;
                    font-family: "jura";
                    font-weight: bolder;
                    color: white;

                    &::after {
                        content: "+";
                    }
                }

                &:hover .iconoAbrir {
                    color: var(--enfasis);
                }
            }
        }

        .cajaImagen_abierta {
            width: calc(2 * var(--sectionWidth) + var(--sectionMargin));

            .imagen .iconoAbrir::after {
                content: "-";
                font-weight: lighter;
                font-size: 34px;
            }
        }

        .barraAcciones {
            position: absolute;
            bottom: 0;
            display: flex;
            align-items: center;
            width: 100%;
            height: 30px;
            padding: 0 20px;
            background-color: rgba(255, 255, 255, 0.3);
            transition: 350ms;

            .cajaContador {
                display: flex;
                align-items: center;
                border-radius: 0 0 14px 14px;

                .icono {
                    width: 18px;
                    height: 18px;
                    background-image: url("../../../recursos/iconos/corazon.png");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: cover;
                    cursor: pointer;
                }

                .contador {
                    margin-left: 10px;
                    font-size: 16px;
                    font-family: "digi";
                    font-weight: bolder;
                    color: var(--textoClaro);
                    letter-spacing: 2px;
                }
            }

            .compartir {
                width: 18px;
                height: 18px;
                background-image: url("../../../recursos/iconos/compartir.png");
                background-repeat: no-repeat;
                background-position: center;
                background-size: 90%;
                cursor: pointer;
            }

            &:hover {
                opacity: 1;
                background-color: rgb(from var(--enfasis) r g b / 0.8);
            }
        }
    }

    .contenedorDescripcion {
        position: relative;
        display: flex;
        flex-direction: column;
        border: 1px solid var(--blancoMedio);

        --infoMargin: 20px;

        .cajaDescripcion {
            position: absolute;
            top: 0;
            max-height: 420px;
            padding: 20px;
            text-align: justify;
            overflow: auto;
            transition: 350ms ease-in-out;

            .titulo {
                width: 100%;
                font-size: 18px;
                font-weight: 800;
                margin-bottom: var(--infoMargin);
            }

            .intro {
                margin-bottom: var(--infoMargin);
            }

            .intro,
            .lista {
                font-size: 15px;
                font-weight: lighter;
            }
        }

        .contenedorEstadisticasHor {
            position: absolute;
            top: 100%;
            height: 50%;
            width: 100%;
            transition: 350ms ease-in-out;

            .cajaEstadisticas {
                padding: 20px;

                .estadisticasHor {
                    position: relative;
                    left: calc(100% + 20px);
                    width: 100%;
                    height: 40px;
                }

                .estadisticasHor_izq {
                    left: 0;
                    transition: 350ms ease-in-out;
                }
            }
        }
    }

    .contenedorEstadisticas {
        padding: 20px;
        border: 1px solid var(--blancoMedio);

        .listaEstadisticas {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 20px;

            .tarjeta {
                position: relative;
                padding: 10px;
                border-radius: 8px;
                opacity: 0;
                transform: scale(0);
                box-shadow: -2px 2px 6px grey;
                transition: 350ms ease-in-out;

                .cajaComponente {
                    width: 100%;
                    height: 60%;
                    padding: 10%;
                }

                .titulo {
                    margin-top: 6%;
                    font-size: 15px;
                    font-weight: bolder;
                    text-align: center;
                }

                .icono {
                    position: absolute;
                    bottom: 10px;
                    right: 10px;
                    width: 24px;
                    height: 24px;
                    background-image: url("../../../recursos/iconos/imagen.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    opacity: 0.25;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            .tarjeta_visible {
                opacity: 1;
                transform: scale(1);
            }

            .tarjeta_hover {
                cursor: pointer;
                transition: 100ms ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }

                &:not(:hover) {
                    transform: scale(1);
                }
            }
        }
    }
}

.contenedorSlider {
    position: relative;
    width: 85%;
    height: 90px;
    margin-top: 140px;
}