* {
    font-family: "ubuntu";
}

.seccionTransparente {
    width: 100vw;
    height: 100vh;

    .cajaContenido {
        position: relative;
        z-index: 3;
        width: 100%;
        height: 100%;
        color: var(--textoClaro);
        font-size: 20px;
        padding: var(--general_padding);
    }
}

.seccionBlanca {
    position: relative;
    width: 100vw;
    height: fit-content;

    .fondoClaro {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: var(--fondoClaro);
    }

    .cajaContenido {
        position: relative;
        z-index: 3;
        width: 100%;
        height: 100%;
        color: var(--textoOscuro);
        font-size: 20px;
        padding: var(--general_padding);
    }
}

.fondoEstatico {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: var(--landingFondo1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: var(--landingFondo1_filtro);
}

/* scroll layer */
.capaDesplazamiento {
    width: 100%;
    height: auto;

    .maskedBox {
        position: fixed;
        z-index: 2;
        width: 100%;
        height: var(--menuHeight);
        overflow: hidden;

        .background_MASKED {
            width: 100%;
            height: 100vh;
            background-image: var(--landingFondo1);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    }


    .subscribe {
        position: relative;
        width: 100%;
        height: 60vh;
        background-color: var(--enfasis);

        .button {
            position: relative;
            width: 160px;
            height: 40px;
            font-size: 14px;
            color: white;
            font-weight: 700;
            padding: 10px 20px;
            border: 2px solid white;
            border-radius: 12px;
            letter-spacing: 1px;
            cursor: pointer;
            transition: 100ms;

            &:hover {
                border: 3px solid var(--textoOscuro);
                color: var(--textoOscuro);
                letter-spacing: 4px;
            }
        }
    }

    footer {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 60vh;
    }
}