.video .cajaContenido .contenedorVideos {
    --contenedorHeight: calc(100vh - var(--menuEfecto_height) - 8vh);
    --videoInfoHeight: 100px;

    display: flex;
    position: relative;
    width: 100%;
    height: var(--contenedorHeight);

    .grupoSeleccion {
        width: fit-content;
        height: 100%;

        .cajaVideo {
            position: relative;
            height: calc((100% - 30px) / 4);
            aspect-ratio: 16/10;
            margin-bottom: 10px;
            border: 2px solid transparent;
            border-radius: 8px;
            filter: grayscale(1);
            overflow: hidden;
            transition: 100ms ease-in-out;

            img {
                transition: 200ms ease-in-out;
            }

            &:hover {
                filter: grayscale(0);

                img {
                    transform: scale(1);
                }
            }

            &:has(.opcionOculta:checked) {
                filter: grayscale(0);
                border: 2px solid var(--enfasis);

                img {
                    transform: scale(1);
                }
            }
        }
    }

    .reproductorCaja {
        align-items: flex-end;
        flex: 1;
        padding-left: 100px;

        .reproductor {
            border-radius: 12px;
            overflow: hidden;
            box-shadow: 5px 5px 10px black;
        }
    }
}