.video .cajaContenido .contenedorVideos {
    display: flex;
    width: 100%;
    min-width: 900px;
    max-width: 1400px;
    aspect-ratio: 20/9;
    border-radius: 12px;
    border: 1px solid red;

    .cajaSeleccion {
        width: 18%;
        height: 100%;
        overFlow: hidden;

        .cajaVideo {
            height: 24%;
            aspect-ratio: 16/9;
            border-radius: 8px;
            overflow: hidden;
            opacity: 0.5;
            transition: 100ms;

            img {
                filter: grayscale(1);
                cursor: pointer;
                transition: 100ms;
            }

            &:hover {
                opacity: 1;

                img {
                    filter: grayscale(0);
                }
            }
        }
    }

    .contenedorReproductor {
        right: 0;
        width: 70%;
        height: 100%;

        .cajaInfoVideo {
            width: 100%;
            height: 60px;
            border-radius: 8px;
            background-color: rgba(0, 0, 0, 0.4);


            .tituloVideo,
            .infoVideo {
                margin-top: 6px;
                text-indent: 20px;
            }

            .infoVideo {
                font-size: var(--tipoNormal);
            }
        }

        .cajaReproductor {
            width: 100%;
            height: calc(100% - 70px);
            border-radius: 12px;
            overflow: hidden;
        }
    }

    /*     @media screen and (max-width: 1400px) and (orientation: landscape) {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 78vh;

        .contenedorReproductor {
            top: 0;
            right: 0;
            width: 100%;
            height: calc(80% - 20px);

            .cajaInfoVideo {
                width: calc(100% - 40px);
            }

            .cajaReproductor {
                bottom: 10px;
                width: 660px;
                height: 85%;
            }
        }

        .cajaSeleccion {
            bottom: 20px;
            width: fit-content;
            height: 20%;
            flex-direction: row;

            .cajaVideo {
                width: 25%;
                height: 100%;
            }
        }
    }
 */
    /*     @media screen and (max-width: 400px) {
        padding: 0;

        .cajaSeleccion {
            top: 0;
            flex-direction: column;
            width: 100%;
            height: fit-content;
            
            .cajaVideo {
                width: 100%;
            }
        }

        .contenedorReproductor {
            display: none;
        }
    }
 */
}