.video .cajaContenido .contenedorVideos {
    width: 100%;
    min-width: 900px;
    max-width: 1400px;
    aspect-ratio: 20/9.6;
    border-radius: 12px;

    .cajaReproductor {
        width: 70%;
        height: 100%;
        border-radius: 12px;
        overflow: hidden;
    }

    .cajaSeleccion {
        width: calc(25% - 3px);
        height: 100%;
        border-radius: 8px;
        overflow: hidden;

        .cajaMiniatura {
            width: 100%;
            height: calc((100% / 3) - 2px);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            filter: grayscale(0.7);
            cursor: pointer;
            transition: 100ms;

            &:hover {
                filter: grayscale(0);
            }

            &:nth-child(1 of &) {
                background-image: url("./../../../recursos/imagenes/1.jpg");
            }

            &:nth-child(2 of &) {
                background-image: url("./../../../recursos/imagenes/2.jpg");
            }

            &:nth-child(3 of &) {
                background-image: url("./../../../recursos/imagenes/3.jpg");
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    .video.seccionTransparente {
        height: fit-content;

        .contenedorVideos {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 86%;
            min-width: 700px;
            max-width: 1400px;
            aspect-ratio: 16/11;

            .cajaReproductor {
                width: 100%;
                height: calc(75% - 10px);
            }

            .cajaSeleccion {
                flex-direction: row;
                aspect-ratio: unset;
                width: 100%;
                height: 25%;

                .cajaMiniatura {
                    width: calc((100% / 3) - 2px);
                    height: 100%;
                }
            }
        }
    }
}

@media screen and (orientation: portrait) and (max-width: 700px) {
    .video.seccionTransparente {
        height: fit-content;

        .cajaContenido {
            padding: 0;

            .contenedorVideos {
                width: 100%;
                min-width: unset;

                height: fit-content;

                .cajaReproductor {
                    display: none;
                }

                .cajaSeleccion {
                    flex-direction: column;
                    height: auto;

                    .cajaMiniatura {
                        width: 100%;
                        aspect-ratio: 16/9;
                        filter: none;
                    }
                }
            }
        }
    }
}