* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    user-select: none;
}

:root {
    /* wellcome color */
    --wellcomeBack1: url("../../../../src/recursos/imagenes/montanas-minimalista-arte-low-poly-3354.webp");
    --wellcomeBack1_filter: grayScale(0.6) brightness(0.8);
    --wellcomeBack2: url("../../../../src/recursos/imagenes/fondoVideos.jpg");
    --nav_height: 100px;
    --general_padding: 10%;
    --general_radius: 12px;
    --medium_radius: 8px;

    /* paleta */
    --blanco: rgb(240, 240, 240);
    --blancoMedio: rgb(200, 200, 200);
    --negro: rgb(60, 60, 60);
    --enfasis: rgb(252, 201, 31);
    --textoClaro: var(--blanco);
    --textoClaroMedio: var(--blancoMedio);
    --textoOscuro: var(--negroOscuro);

    --fondoClaro: var(--blanco);
    --fondoOscuro: var(--negroOscuro);


    /* fuentes */
    --tipoNormal: 14px;
}

/* positionamiento */
.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.z1 {
    z-index: 1;
}

.z2 {
    z-index: 2;
}

.z3 {
    z-index: 3;
}

.z4 {
    z-index: 4;
}

.z5 {
    z-index: 5;
}

.z6 {
    z-index: 6;
}

/* display flex */
.FRow {
    display: flex;
}

.FCol {
    display: flex;
    flex-direction: column;
}

.FCenter {
    align-items: center;
    justify-content: center;
}

.FJ_center {
    justify-content: center;
}

.FJ_around {
    justify-content: space-around;
}

.FJ_between {
    justify-content: space-between;
}

.FJ_left {
    justify-content: left;
}

.FJ_right {
    justify-content: right;
}

.FA_center {
    align-items: center;
}

.FA_start {
    align-items: flex-start;
}

.FA_end {
    align-items: flex-end;
}

/* efectos */
.cristal {
    backdrop-filter: blur(8px);
}

.cristal-01 {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
}

/* tamaño */
.max {
    width: 100%;
    height: 100%;
}

.maxVP {
    width: 100vw;
    height: 100vh;
}

/* visivilidad */
.oculto {
    opacity: 0;
    pointer-events: none;
}

.visible {
    opacity: 1;
    pointer-events: auto;
}

.invisible {
    opacity: 0;
    pointer-events: none;
}

/* inputs */
.inputOculto {
    position: absolute;
    left: 0;
    top: 0;
    appearance: none;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.tempo200 {
    transition: 200ms ease-in-out;
}

.tempo300 {
    transition: 300ms ease-in-out;
}

.tempo400 {
    transition: 400ms ease-in-out;
}

.tempo500 {
    transition: 500ms ease-in-out;
}

.tempo700 {
    transition: 700ms ease-in-out;
}