* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --lightColor: rgb(220, 220, 220);
    --textLight: rgb(220, 220, 220);
    --textDark: rgb(40, 40, 40);
    --enphasisColor:#fcc91f;
    --landingBack_1: url("../../../src/assets/images/landingBack.webp");
    --menuHeight: 160px;
}

body {
    width: 100vw;
    height: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}