* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --whiteBack: rgb(220, 220, 220);
    --landingBack_1: url("../../../src/assets/images/landingBack.webp");
    --menuHeight: 160px;
}

body {
    width: 100vw;
    height: 500vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}