* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    user-select: none;
}

:root {
    --whiteBack: rgb(220, 220, 220);
    --textLight: var(--whiteBack);
    --textMediumLight: rgb(180, 180, 180);
    --textDark: rgb(40, 40, 40);
    --enphasisColor: #fcc91f;
    --landingBack1: url("../../../src/assets/images/montanas-minimalista-arte-low-poly-3354.webp");
    --landingBack1_filter: grayScale(0.7);
    --menuHeight: 100px;
}

body {
    width: 100vw;
    height: auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rowCenter {
    display: flex;
    justify-content: center;
}

.rowSpacing {
    display: flex;
    justify-content: space-between;
}

.hidden {
    display: none;
}

.max {
    width: 100%;
    height: 100%;
}